////////////////////////////////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}


////////////////////////////////////////////////////
// SEARCH
.search {
  flex: 0 0 40%;

  display: flex; //moves the icon to the center
  align-items: center; //moves the icon to the center in y axis
  justify-content: center; //moves the icon to the center in x axis

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; // moves the button on top of the input

    &:focus {
      outline: none; // removes the standard focus outline
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder { //styles the placeholder text
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button { // put this selector outside of the input group
    background-color: var(--color-grey-light-3);
  }

  &__input:focus + &__button &__icon  { // put this selector outside of the input group
    fill: var(--color-grey-dark-1);
  }



  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // colors the svg icon (must be applied to the svg element)
  }
}

////////////////////////////////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch; // stretchs the parent div to take up the whole header

  display: flex;
  align-items: center; // aligns items in the y axis
  

  & > * { // selects all of the user navs direct children
    padding: 0 2rem;
    cursor: pointer; // changes the hover mouse icon to a hand
    height: 100%;

    display: flex;
    align-items: center; // centers the icons & user vertically
  }

  & > *:hover { // selects all of the user navs direct children when hovered state
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
   position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification { // styling the span
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex; // flexbox works with text as well
    justify-content: center; // centers the text inside the circle (x axis)
    align-items: center; // centers the text inside the circle (y axis)
    
  }

  &__user-photo { // forms the profile photo
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}

////////////////////////////////////////////////////
// SIDE NAVIGATION

.sidebar {
  
}

.side-nav {
  font-size: 1.4rem;
  list-style: none; // removes the default bullet points
  margin-top: 3.5rem;
  

  &__item {
    position: relative; // parent element of the pseudo class

    &:not(:last-child) { // all item elements but the last
      margin-bottom: .5rem;
    }
  }

  &__item::before { // creating a pseudo class
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transform-origin: center; // default is center
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s, // this delays the width transform by .4s
                background-color .1s; 
  }

  &__item:hover::before,
  &__item--active::before {  // this applys the class to the currently active html sidebar el
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none; // removes default link underlines
    text-transform: uppercase;
    display: block; // gives each element its own row
    padding: 1.5rem 3rem; // spaces out the options within the column

    position: relative; // this is required for z-index to work correctly
    z-index: 10;

    display: flex;         // the following 2 commands vertically align the icons and text
    align-items: center;

  }

  // &__link:hover { // the fill: currentColor takes the value in its parents hover
  //   color: orangered;
  // }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // fill colors the svg, currentColor takes the color of the parent element;
  }

}
////////////////////////////////////////////////////
// LEGAL TEXT

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

////////////////////////////////////////////////////
// GALLERY

.gallery {
  display: flex;

  &__photo {
    width: 100%;  // the old method would have been to 33.333% and to use float: left. Then use clearfix on the parent to fillout the empty space
    display: block; // this avoids a small space undernearth the image when it's left as an inline element
  }
}



////////////////////////////////////////////////////
// HOTEL OVERVIEW

.overview {
  display: flex;
  align-items: center; // centers items in y axis
  border-bottom: 1px solid var(--color-grey-light-2);


  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    // flex: 1; // creates a space in the middle between the flexed items (justify-content can't handle this properly)
    margin-right: auto; // achieves the same as flex: 1 but gives more control over the actual element.
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;  // pads out the values
    align-self: stretch; // this overwrites the align-content: center; in .overview <--

    display: flex; // targets the child elements
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px; // brings the two elements closer together
    }

    &-count {
      font-size: .8rem;
      text-transform: uppercase;
      
    }
  }
}



////////////////////////////////////////////////////
// BUTTON INLINE

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit; // set the font size on the parent element and then the button will mirror its context
  border-bottom: 1px solid currentColor; // currentColor inherits the parent color
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent; // makes the button re-usable similar idea behind current color
  cursor: pointer;
  transition: all .2s;

  &:hover {
    color: var(--color-grey-dark-1); // using currentColor allows this to automatically apply to the border.
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}


////////////////////////////////////////////////////
// PARAGRAPH

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

////////////////////////////////////////////////////
// LIST

.list {
  list-style: none; // removes default bullet points
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;
  

  
  &__item {
    flex: 0 0 50%; // makes the items form 2 columns
    margin-bottom: .7rem;
  }

  &__item::before { // pseudo class for bullet point icon
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    // old browser approach
    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;

    // new browser approach - masks // mask defines an area where we can look through the element and see what is behind
    // this is similar to clipping in the first project
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover; // forces the mask to the same size as the height and width specified above.
  }
}

////////////////////////////////////////////////////
// RECOMMEND

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;
  // justify-content: space-between;


  &__count {
    margin-right: auto;
  }

  &__friends {

    
  }

  &__photo {
    box-sizing: content-box; // this overwrites the value we set at the start of project

    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) { // selects all but the last photo
      margin-right: -1.5rem;
    }
  }

  
}
